<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sasta IMDb</title>
    </head>
    <body>
        <!-- searching movie -->
        <h1>Home</h1>
        <% if(username !== '') { %>
            <h2>Hello, <%= username %></h2>
        <% } %>

        <a style="color: blue;" href="<%= username === '' ? '/ratings' : '/userRatings?username=' + username %>">Reviews</a>
        <a style="color: blue;" href="<%= username === '' ? '/signup' : '/signup?username=' + username %>">Sign Up</a>
        <a style="color: blue;" href="<%= username === '' ? '/login' : '/login?username=' + username %>">Login</a>
        <% if(username !== '') { %>
            <a style="color: blue;" href="/">Logout</a>
        <% } %>

        <form action="<%= username !== '' ? '/submit?username=' + username : '/submit' %>" method="post">
            <input type="text" name="movieName" placeholder="Enter movie name">
            <button type="submit">Search</button>
        </form>

        <!-- displaying movie info -->
        <%if(movies.length > 0 && movies[movies.length-1].Title != 'Movie Not Found'){ %>
            <ul>
                <h2>Movie Info:</h2>
                <% currentMovie = movies[movies.length -1] %>
                 <li>Title: <%= currentMovie.Title %> </li>
                 <li>Year Released: <%= currentMovie.Year_Released %></li>
                 <li>Duration: <%= currentMovie.Duration %></li>
                 <li>Rating: <%= currentMovie.Rating %></li>
                <% if(userRating === '') { %>
                    <li>No one rated till now!</li>
                <% } else { %>
                    <li>Rating by our users: <%= userRating %></li>
                <% } %>
                 <li>Genre: <%= currentMovie.Genres.join(", ") %></li>
                 <li>Plot: <%= currentMovie.Plots %></li>
                 <li>Director: <%= currentMovie.Directors.join(", "); %></li>
                 <li>Casts: <%= currentMovie.Casts.join(", ") %></li>
                 <li><a style="color: blue;" href="<%= currentMovie.Trailer_Links%>" >Trailer</a></li>
                <% if(currentMovie.Streaming_Platforms[0].length > 0) { %>
                    <li>Streaming Platforms:
                        <ul>
                            <% for(let i=0; i<currentMovie.Streaming_Platforms[0].length; i++) { %>
                                <li><a style="color: blue;" href="<%= currentMovie.Streaming_Platforms[1][i] %>"><%= currentMovie.Streaming_Platforms[0][i] %></a></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
                <% if(currentMovie.Other_Ratings[0].length > 0) { %>
                    <li>Other Ratings:
                        <ul>
                            <% for(let i=0; i<currentMovie.Other_Ratings[0].length; i++) { %>
                                <li><a style="color: blue;" href="<%= currentMovie.Other_Ratings[2][i] %>"><%= currentMovie.Other_Ratings[1][i] %></a>: <%= currentMovie.Other_Ratings[0][i] %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
            <% if(currentMovie.Image) { %>
                <img id="Image" width="200px" src="<%= currentMovie.Image %>" alt="Movie Image">
            <% } %>
            <% if(outSideReviews.RottenTomatoes != undefined && outSideReviews.RottenTomatoes != []){ %>
                <h2>Reviews from RottenTomatoes</h2>
                <ul>
                    <% for(let i=0; i<outSideReviews.RottenTomatoes.length; i++) { %> 
                        <li><a style="color: blue" href="<%= outSideReviews.RottenTomatoes[i][1] %>"><%= outSideReviews.RottenTomatoes[i][0] %></a>: <%= outSideReviews.RottenTomatoes[i][2] %></li>
                    <% } %>
                </ul>
            <% } %>
        <% } else if (movies.length == 0) { %>
        <% } else if (searchSuggestions.length > 0) { %>
            <h2>Did you mean these?</h2>
            <ul>
                <% for(let i=0; i<searchSuggestions.length; i++) { %>
                    <li><a style="color: blue;" href="/submit?movieName=<%= searchSuggestions[i].Title %>&username=<%=username%>"><%= searchSuggestions[i].Title %></a></li>
                <% } %>
            </ul>
        <% } %>

    </body>
</html>