<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="movie.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <!-- <h1>Login</h1>
    <a style="color: blue;" href="<%= username ? '/?username=' + username : '/' %>">Home</a>
    <a style="color: blue;" href="<%= username ? '/userRatings?username=' + username : '/ratings' %>">Reviews</a>
    <a style="color: blue;" href="<%= username ? '/signup?username=' + username : '/signup' %>">Login</a> -->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#extraNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="<%= username ? '/?username=' + username : '/' %>">CS108</a>
            </div>

            <!--Collapsible Items-->
            <div class="collapse navbar-collapse" id="extraNav">
                <!--Left NavBar-->
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="<%= username ? '/?username=' + username : '/' %>">Home</a></li>
                    <li><a href="<%= username ? '/userRatings?username=' + username : '/ratings' %>">Ratings</a></li>
                </ul>

                <!-- Search Bar -->
    
                <form class="navbar-form navbar-left" action="<%= username !== '' ? '/submit?username=' + username : '/submit' %>" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="movieName" placeholder="Search Movies">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!--Right NavBar-->
                <ul class="nav navbar-nav navbar-right">
                    <% if(username !== '') { %>
                        <p class="navbar-text">Hi, <%= username %> </p>
                    <% } %>
                    <li><a href="<%= username === '' ? '/signup' : '/signup?username=' + username %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="active"><a href="<%= username === '' ? '/login' : '/login?username=' + username %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% if(username !== '') { %>
                        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>


    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <% if(warning == 1) { %>
        <div class="alert">
            <strong>Invalid Username or Password</strong>
        </div>
    <% } %>
</body>
</html>