<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="movie.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="ratings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ratings</title>
</head>
<body>
    <!-- <h1>Let's rate, <%= username %></h1>
    <a style="color: blue;" href="/?username=<%=username%>">Home</a>
    <a style="color: blue;" href="/login?username=<%=username%>">Login</a>
    <a style="color: blue;" href="/signup?username=<%=username%>">Sign Up</a>
    <a style="color: blue;" href="/logout?username=<%=username%>">Logout</a> -->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--Opens the collapsed NavBar-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/?username=<%=username%>">CS108</a>
            </div>

            <!-- All of the further NavBar things should collapse when screen size is small -->

            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- Left Navigation Bar -->
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="<%= username ? '/?username=' + username : '/' %>">Home</a></li>
                    <li class="active"><a href="<%= username === '' ? '/ratings' : '/userRatings?username=' + username %>">Ratings</a></li>
                </ul>

                <!-- Search Bar -->
        
                <form class="navbar-form navbar-left" action="<%= username !== '' ? '/submit?username=' + username : '/submit' %>" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="movieName" placeholder="Search Movies">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Right Navigation Bar -->
                <ul class="nav navbar-nav navbar-right">
                    <% if(username !== '') { %>
                        <p class="navbar-text">Hi, <%= username %> </p>
                    <% } %>
                    <li><a href="<%= username === '' ? '/signup' : '/signup?username=' + username %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="<%= username === '' ? '/login' : '/login?username=' + username %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% if(username !== '') { %>
                        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>
    
    <!--RATING FORM-->
    <div id="rating-form" class="container">
        <h1><strong>Rate a Movie</strong></h1>
        <form action="/userRatings?username=<%=username%>" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="movieName" placeholder="Enter Movie Name" required>
                <input class="form-control" type="number" name="rating" step="0.1" placeholder="Enter rating" min="0" max="10" required>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
    <!--SEARCH SUGGESTIONS-->
    <% if(typeof warning === 'object' && warning.length > 0) { %>
        <div class="container">
            <h2><strong>Did you mean these?</strong></h2>
            <% for(let j=0; j<Math.floor(warning.length/4); j++) { %>
                <div class="row">
                    <% for(let i=0; i<4; i++)  { %>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/submit?movieName=<%= warning[4*j+i].Title + '&username=' + username%>">
                                    <img width="300px" src="<%= warning[4*j + i].Image %>" alt="<%= warning[4*j + i].Title %>">
                                    <div class="caption">
                                        <h4 style="display: inline;"><%= warning[4*j + i].Title %></h4>
                                        <h4 class="main-rating-number"><%= warning[4*j + i].Rating %></h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <div class="row">
                <% for(let i=4*Math.floor(suggestedMovies.length/4); i<suggestedMovies.length; i++)  { %>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="/submit?movieName=<%= suggestedMovies[i].Title  + '&username=' + username%>">
                                <img width="300px" src="<%= suggestedMovies[i].Image %>" alt="<%= suggestedMovies[i].Title %>">
                                <div class="caption">
                                    <h4 style="display: inline;"><%= suggestedMovies[i].Title %></h4>
                                    <h4 class="main-rating-number"><%= suggestedMovies[i].Rating %></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <!--RATED MOVIES-->
    <% if(ratings.length > 0) { %>
        <div class="container" id="main-ratedMovies">
            <h1><strong>Rated Movies</strong></h1>
            <% ratedMovies.reverse(); %>
            <% ratings.reverse(); %>
            <% for(let j=0; j<Math.floor(ratedMovies.length/4); j++) { %>
                <div class="row">
                    <% for(let i=0; i<4; i++)  { %>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/submit?movieName=<%= ratedMovies[4*j+i].Title  + '&username=' + username %>">
                                    <img width="300px" src="<%= ratedMovies[4*j + i].Image %>" alt="<%= ratedMovies[4*j + i].Title %>">
                                    <div class="caption">
                                        <h4 style="display: inline;"><%= ratedMovies[4*j + i].Title %></h4>
                                        <h4 class="main-rating-number"><%= ratings[4*j + i] %> <span class="glyphicon glyphicon-star"></span> </h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <div class="row">
                <% for(let i=4*Math.floor(ratedMovies.length/4); i<ratedMovies.length; i++)  { %>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="/submit?movieName=<%= ratedMovies[i].Title + '&username=' + username %>">
                                <img width="300px" src="<%= ratedMovies[i].Image %>" alt="<%= ratedMovies[i].Title %>">
                                <div class="caption">
                                    <h4 style="display: inline;"><%= ratedMovies[i].Title %></h4>
                                    <h4 class="main-rating-number"><%= ratings[i] %> <span class="glyphicon glyphicon-star"></span></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <% if(warning == 2) { %>
        <div class="alert">
            <strong>Rating should be between 0 and 10</strong>
        </div>
    <% } %>
    
    <!--SUGGESTED MOVIES-->
    <% if(suggestedMovies.length > 0) { %>
        <div class="container" id="main-suggestions">
            <h1><strong>Suggested Movies</strong></h1>
            <% for(let j=0; j<Math.floor(suggestedMovies.length/4); j++) { %>
                <div class="row">
                    <% for(let i=0; i<4; i++)  { %>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/submit?movieName=<%= suggestedMovies[4*j+i].Title + '&username=' + username %>">
                                    <img width="300px" src="<%= suggestedMovies[4*j + i].Image %>" alt="<%= suggestedMovies[4*j + i].Title %>">
                                    <div class="caption">
                                        <h4 style="display: inline;"><%= suggestedMovies[4*j + i].Title %></h4>
                                        <h4 class="main-rating-number"><%= suggestedMovies[4*j + i].Rating %> <span class="glyphicon glyphicon-star"></span></h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <div class="row">
                <% for(let i=4*Math.floor(suggestedMovies.length/4); i<suggestedMovies.length; i++)  { %>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="/submit?movieName=<%= suggestedMovies[i].Title + '&username=' + username %>">
                                <img width="300px" src="<%= suggestedMovies[i].Image %>" alt="<%= suggestedMovies[i].Title %>">
                                <div class="caption">
                                    <h4 style="display: inline;"><%= suggestedMovies[i].Title %></h4>
                                    <h4 class="main-rating-number"><%= suggestedMovies[i].Rating %> <span class="glyphicon glyphicon-star"></span></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</body>
</html>